@font-face {
  font-family: swGardenGrove;
  src: url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Regular.woff2') format('woff2'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Regular.woff') format('woff'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Regular.eot') format('eot');
  font-weight: regular;
}

@font-face {
  font-family: swGardenGrove;
  src: url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Bold.woff2') format('woff2'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Bold.woff') format('woff'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Bold.eot') format('eot');
  font-weight: bold;
}

@font-face {
  font-family: swGardenGrove;
  src: url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-ExtraBold.woff2') format('woff2'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-ExtraBold.woff') format('woff'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-ExtraBold.eot') format('eot');
  font-weight: extrabold;
}

@font-face {
  font-family: swGardenGrove;
  src: url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-ExtraLight.woff2') format('woff2'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-ExtraLight.woff') format('woff'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-ExtraLight.eot') format('eot');
  font-weight: extralight;
}

@font-face {
  font-family: swGardenGrove;
  src: url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Heavy.woff2') format('woff2'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Heavy.woff') format('woff'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Heavy.eot') format('eot');
  font-weight: heavy;
}

@font-face {
  font-family: swGardenGrove;
  src: url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Light.woff2') format('woff2'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Light.woff') format('woff'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Light.eot') format('eot');
  font-weight: light;
}

@font-face {
  font-family: swGardenGrove;
  src: url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Medium.woff2') format('woff2'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Medium.woff') format('woff'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Medium.eot') format('eot');
  font-weight: medium;
}

@font-face {
  font-family: swGardenGrove;
  src: url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Semibold.woff2') format('woff2'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Semibold.woff') format('woff'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Semibold.eot') format('eot');
  font-weight: semibold;
}

@font-face {
  font-family: swGardenGrove;
  src: url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Thin.woff2') format('woff2'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Thin.woff') format('woff'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Thin.eot') format('eot');
  font-weight: thin;
}

@font-face {
  font-family: swGardenGrove;
  src: url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-UltraLight.woff2') format('woff2'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-UltraLight.woff') format('woff'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-UltraLight.eot') format('eot');
  font-weight: ultralight;
}
