@font-face {
  font-family: 'SW Garden Grove Regular';
  src: url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Regular.woff2') format('woff2'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Regular.woff') format('woff'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Regular.eot') format('eot');
}

@font-face {
  font-family: 'SW Garden Grove Bold';
  src: url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Bold.woff2?') format('woff2'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Bold.woff') format('woff'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Bold.eot') format('eot');
}

@font-face {
  font-family: 'SW Garden Grove Extra Bold';
  src: url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-ExtraBold.woff2') format('woff2'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-ExtraBold.woff') format('woff'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-ExtraBold.eot') format('eot');
}

@font-face {
  font-family: 'SW Garden Grove Extra Light';
  src: url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-ExtraLight.woff2') format('woff2'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-ExtraLight.woff') format('woff'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-ExtraLight.eot') format('eot');
}

@font-face {
  font-family: 'SW Garden Grove Heavy';
  src: url('https://github.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Heavy.woff2') format('woff2'),
       url('https://github.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Heavy.woff') format('woff'),
       url('https://github.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Heavy.eot') format('eot');
}

@font-face {
  font-family: 'SW Garden Grove Light';
  src: url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Light.woff2') format('woff2'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Light.woff') format('woff'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Light.eot') format('eot');
}

@font-face {
  font-family: 'SW Garden Grove Medium';
  src: url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Medium.woff2') format('woff2'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Medium.woff') format('woff'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Medium.eot') format('eot');
}

@font-face {
  font-family: 'SW Garden Grove Semibold';
  src: url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Semibold.woff2') format('woff2'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Semibold.woff') format('woff'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Semibold.eot') format('eot');
}

@font-face {
  font-family: 'SW Garden Grove Thin';
  src: url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Thin.woff2') format('woff2'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Thin.woff') format('woff'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-Thin.eot') format('eot');
}

@font-face {
  font-family: 'SW Garden Grove Ultra Light';
  src: url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-UltraLight.woff2') format('woff2'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-UltraLight.woff') format('woff'),
       url('https://rawgithub.com/Stuver/css-experiments/blob/master/fonts/GardenGrove-UltraLight.eot') format('eot');
}
