@import url('https://rawgithub.com/Stuver/css-experiments/master/gardenGroveFont.css');
@import url('https://fonts.googleapis.com/css?family=Oswald');

// FONTS 


html { font-size: 62.5%; } 

p {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-size: 17px; font-size: 1.7rem;
}

.jumbo, .headline, .title, .subtitle, h1, h2, .caption {
  font-family: swGardenGrove;
}

.jumbo {
  font-family: swGardenGrove;
  font-size: 112px; font-size; 11.2rem;
  font-weight: heavy;
  line-height: 120%;
}

.headline {
  font-size: 56px; font-size: 5.6rem;
  font-weight: bold;
  line-height: 120%;
}

.title {
  font-size: 36px; 3.6rem;
  font-weight: light;
  line-height: 120%;
}

.subtitle {
  font-size: 24px; font-size: 2.4rem;
  font-weight: light;
  line-height: 120%;
}

h1 {
  font-size: 20px; font-size: 2.0rem;
  font-weight: bold;
  line-height: 120%;
}

h2 {
  font-size: 20px; font-size: 2.0rem;
  font-weight: semibold;
  line-height: 120%;
}

.quote {
  font-family: 'Oswald', sans-serif;
  font-size: 24px; font-size 2.4rem;
  font-weight: light;
  line-height: 120%;
}

.body-serif {
  font-family: times;
  font-size: 17;
  line-height: 120%;
}

.caption {
  font-size: 12px; font-size: 1.2rem;
  font-weight: light;
  text-transform: uppercase;
  line-height: 120%;
}


// COLORS


.red { color: #EF3340; }
.red-bg { background-color: #EF3340; }

.pink { color: #f3435e; }
.pink-bg { background-color: #f3435e; }

.yellow { color: #e3e935; }
.yellow-bg { background-color: #e3e935; }

.green1 { color: #00a82d; }
.green1-bg { background-color: #00a82d; }

.green2 { color: #83dd65; }
.green2-bg { background-color: #83dd65; }

.navy { color: #1f2a44; }
.navy-bg { background-color: #1f2a44; }

.blue { color: #9bcbeb; }
.blue-bg { background-color: #9bcbeb; }


// ASSETS


.logo-bg { background-image: url("assets/Modern Logo.png"); }
.tradLogo-bg { background-image: url("assets/Traditional Logo.png"); }
  
